*{
  list-style:none;
  box-sizing: border-box;
  text-decoration: none;
}
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  min-width:100vw;
  min-height:100vh;
}

button{
  margin-left: 7px;
  border: none;
  padding: 5px 12px;
  background-color: bisque;
  border-radius: 3px;
  cursor: pointer;
}
.App{
  display: grid;
  grid-template-rows: .2fr 1fr .1fr;
  width: 100vw; height: 100vh;
  }
.Header, .main, .footer{
  text-align:center;
  width:100%;
}
.Header{
  display:grid;
  grid-template-columns: .4fr 1fr;
  place-items:center;
  background-color:mediumblue;
  width: 100%; height:100%;
}
.menus{
  width: 100%; 
  display:grid;
  place-items: center;
}
.navbtn{
  width: 100px; height: 30px;
  display: none;
}
.main{
  text-align: center;
  padding-top: 8%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.main h2{
  text-transform: capitalize;
}
/* =======nav styling===== */
.right{
  border: 2px solid green;
  padding: 10%; height: 40%;
  margin: 0 auto;
  padding: 4%;
  
}
#navbars{
  width:100%; height: 10%; padding:10px; 
  display: flex;
  justify-content:space-around;
  align-items:center;
  z-index: 12;
  }
.linkBtn{
  font-size: 1.2rem;
  color: whitesmoke;
}
.linkBtn:hover{
  color: grey;
}
/* ====hiding navBars==== */
.hidden li:first-child{
  opacity: 0;
  transition: .6s linear;
}
.hidden li:nth-child(2){
  opacity: 0;
  transition: .4s linear;
}
.hidden li:last-child{
  opacity: 0;
  transition: .2s linear;
}
#navbars li{
  transition: .8s linear;
  
}
.hidden li{
  display: none;
}

.right li{
  list-style: none;
  background-color: grey;
  width: 90px; height: 30px;
  margin: 10px;
}
/* =====aside images styling===== */

.img--collection{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  padding: 40px;
}
.img--collection div{
  border-radius: 17px;
  box-shadow:inset 2px 2px 15px grey;
  max-width:250px ; 
  display: grid;
  align-items: center;
}
.img--collection img{
  border-radius: 7px;
  max-width: 100%;
}
.info{
  padding:10px 15px;
}

.footer{
  background-color:grey;
}


/* =======Mobile Devices========== */

@media screen and (max-width: 768px){
  .navbtn{
    width: 100px; height: 30px;
    display: grid;
    place-items: center;
  }
  .Header{
    display:grid;
    grid-template-columns: .4fr 1fr;
    place-items:center;
  }
  #navbars{
    display: grid;
    display: hidden;
  }
  .menus{
    display: flex;
    flex-direction: column;
    padding: 5%;
  }
}
